@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import 'normalize';

// $width: 400px;
// $height: 400px;

$field: (
    bg: #999, 
    radius: 16px,
    messageBg: rgba(0, 0, 0, .5),
    messageColor: #fff,
);

$tag: (
    bg: #fc0,
    color:#555 
);

$button: (
    bg: #fc0,
    color: #000,    
    radius: 4px, 
);

body {
    background-color: #fff;
    padding: 32px;
    font-family: 'Roboto Slab', serif;
}

.tags {
    position: relative;
    background-color: map-get($field, bg);
    border-radius: map-get($field, radius);
    box-shadow: inset 0px 0px 5px map-get($field, bg);

    &__field {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0
    }

    &__tag {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background-color: map-get($tag, bg);
        font-size: 32px;
        border-radius: map-get($field, radius);
        border: map-get($field, bg) 1px solid;
        transition: all .1s;
        color:map-get($tag, color);
    }

    &__tag_active {
        color:#000;

        &:hover {
            cursor: pointer;
        }
    }
    
    &__message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: map-get($field, messageBg);
        color: map-get($field, messageColor);
        border-radius: map-get($field, radius);
        z-index: 3;
    }

}

.btn {
    background-color: map-get($button, bg);
    border: 0;
    padding: 8px 12px;
    margin-top: 8px;
    border-radius: map-get($button, radius);

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}