@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import 'normalize';

// $width: 400px;
// $height: 400px;

$field: (
    bg: #999, 
    radius: 16px,
);

$tag: (
    bg: #fc0,
    color:#999 
);

body {
    background-color: #fff;
    padding: 32px;
    font-family: 'Roboto Slab', serif;
}

.tags {
    position: relative;
    background-color: map-get($field, bg);
    border-radius: map-get($field, radius);
    box-shadow: inset 0px 0px 5px map-get($field, bg);

    &__tag {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background-color: map-get($tag, bg);
        font-size: 32px;
        border-radius: map-get($field, radius);
        border: map-get($field, bg) 1px solid;
        transition: all .1s;
        color:map-get($tag, color);
    }

    &__tag_active {
        color:#000;

        &:hover {
            cursor: pointer;
            box-shadow: inset 0px 0px 5px darken(map-get($tag, bg), 20%);
        }
    }
    
}